<div class="flex md:flex-row flex-col items-center justify-between mb-2">
	<div>
		<h2 class="font-bold text-2xl">Pagos</h2>
		<p class="text-gray-500 text-sm">Aquí puedes ver todos los pagos registrados en el sistema.</p>
	</div>
	<div class="flex md:flex-row flex-col gap-2 md:w-auto w-full md:mt-0 mt-4">
		<button onclick="openModal()" class="px-4 py-2 text-sm font-medium text-white bg-black rounded-md">
			Crear nuevo pago
		</button>
		<form method="get" action="/dashboard/payments/order">
			<select name="by" class="px-5 py-2 text-sm font-medium text-gray-500 border rounded-md text-center md:w-auto w-full" onchange="this.form.submit()">
				<option value="default">Ordenar por</option>
				<option value="recent">Más recientes</option>
				<option value="old">Más antiguos</option>
				<option value="total_asc">Total ascendente</option>
				<option value="total_desc">Total descendente</option>
			</select>
		</form>
	</div>
</div>

<div class="overflow-x-auto w-full border rounded-md mb-6 shadow mt-6">
	<table class="min-w-full text-center divide-y divide-gray-200 p-3 bg-white text-sm">
		<thead>
			<tr>
				<th class="whitespace-nowrap px-4 py-4 font-medium text-gray-900">Identificador</th>
				<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Miembro</th>
				<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Total</th>
				<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Fecha de pago</th>
				<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Método de pago</th>
				<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Estado</th>
				<th class="px-4 py-2">Recordario</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-gray-200">
			{% for payment in payments %}
				{% set member = members|filter(member => member.getId() == payment.getMemberId())|first %}
				<tr>
					<td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ payment.getId() }}</td>
					<td class="whitespace-nowrap px-4 py-2 text-gray-700 hover:text-blue-500 hover:underline">
						<a href="/dashboard/edit/{{payment.getMemberId()}}" class="hover:text-blue-500">
							{{ member.getFirstName() }}
							{{ member.getLastName() }}
						</a>
					</td>
					<td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ payment.getAmount() }} €</td>
					<td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ payment.getPaymentDate()|date('d/m/Y') }}</td>
					<td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ payment.getPaymentMethod() }}</td>
					<td class="whitespace-nowrap px-4 py-2 text-gray-700">
						<form class="flex items-center justify-center gap-2" method="post" action="/dashboard/payments/update/{{payment.getId()}}">
							<div class="w-3 h-3 rounded-full {{ payment.getPaymentStatus() == 'Pagado' ? 'bg-green-400' : 'bg-orange-400' }}"></div>
							<select name="payment_status" class="px-2 py-1 text-sm font-medium text-gray-500 border rounded-md text-center" onchange="this.form.submit()">
								<option value="Impagado" {{ payment.getPaymentStatus() == 'Pendiente' ? 'selected' : '' }}>Pendiente</option>
								<option value="Pagado" {{ payment.getPaymentStatus() == 'Pagado' ? 'selected' : '' }}>Pagado</option>
							</select>
						</form>
					</td>
					<td class="whitespace-nowrap px-4 py-2">
						<form method="post" action="/dashboard/payments/reminder/{{payment.getId()}}">
							<input type="hidden" name="member_id" value="{{ payment.getMemberId() }}">
							<button class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700 disabled:bg-indigo-400 disabled:cursor-not-allowed " {{ payment.getPaymentStatus() == 'Pagado' ? 'disabled' : '' }}>Enviar</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script>
	{% if whatsappSendMessage %}
		Toastify({
			text: "{{ whatsappSendMessage }}",
			duration: 3000,
			newWindow: true,
			close: true,
			gravity: "top", // `top` o `bottom`
			position: 'right', // `left`, `center` o `right`
			stopOnFocus: true, // Detiene el cierre automático al poner el cursor sobre el toast
			style: {
				background: "rgb(187 247 208)",
				color: "rgb(34 197 94)",
				borderRadius: "10px"
			}
		}).showToast();
	{% endif %}
	{% if paymentUpdatedMessage %}
		Toastify({
			text: "{{ paymentUpdatedMessage }}",
			duration: 3000,
			newWindow: true,
			close: true,
			gravity: "top", // `top` o `bottom`
			position: 'right', // `left`, `center` o `right`
			stopOnFocus: true, // Detiene el cierre automático al poner el cursor sobre el toast
			style: {
				background: "rgb(187 247 208)",
				color: "rgb(34 197 94)",
				borderRadius: "10px"
			}
		}).showToast();
	{% endif %}
</script>
